.textArea .content {

    -fx-background-color:#f0ffff;
    -fx-border-width:1px;
}

.button {
    -fx-background-radius: 14px;
}

.anchorPane{
    -fx-background-color:#fffff0;
}

.label {
    -fx-font:Arial;
    -fx-text-fill:#ffa500;
}

.textField {
    -fx-background-radius:14px;

}

.hyperlink {
    -fx-border-width:1px;
    -fx-border-color:black;
    -fx-background-color:white;
    -fx-border-radius:14px;
}

.hyperlink:hover {
    -fx-font-color:blue;
}